on:
  schedule:
    - cron: "0 14 * * 6"

  workflow_dispatch:
    inputs:
      version:
        required: false
        description: The version to build
  pull_request:

env:
  remote_url: "https://github.com/alacritty/alacritty.git"

name: Update version
jobs:
  get_versions:
    runs-on: ubuntu-latest
    container:
      image: python:latest
    outputs:
      remote: ${{ steps.remote.outputs.version }}
      local: ${{ steps.local.outputs.version }}
    steps:
      - uses: actions/checkout@v3
      - name: Test
        run: ls -lah
      # - name: Fetch latest remote tag
      #   id: remote
      #   run: |
      #     version=$( \
      #       git ls-remote --tags --sort="v:refname" https://github.com/alacritty/alacritty.git | \
      #       cut -d$'\t' -f2 | \
      #       grep -P 'refs/tags/(v?)[0-9]+.[0-9]+.[0-9]+$' \
      #     )
      #     echo "version=v0.11.0" >> $GITHUB_OUTPUT

      # - name: Get local tag
      #   id: local
      #   run: echo "version=$(git describe --tags --abbrev=0)"
